<launch>
<include file="$(find four_wheels)/launch/device.launch"/>
<include file="$(find four_wheels)/launch/2dlaser.launch"/>
<include file="$(find four_wheels)/launch/gmapping.launch"/>
<include file="$(find four_wheels)/launch/move_base.launch"/>

<node pkg="rviz" type="rviz" name="rviz"/>
</launch>
